*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.collection {
    max-width: 480px;
    height: 100vh;
    margin: auto;
    padding: 20px;
}

.collection__title{
    color: gray;
    font-family: monospace;
}

.collection__item{
    width: 100%;
    margin-top: 20px;

}

.collection__item img{
    width: 105px;
    border-radius: 5px;
}
